[package]
name = "vbsp"
version = "0.2.0"
authors = ["Robin Appelman <robin@icewind.nl>"]
homepage = "https://github.com/icewind1991/vbsp"
repository = "https://github.com/icewind1991/vbsp"
description = "Rust parser for valve bsp files."
license = "MIT"
edition = "2021"
readme = "README.md"
exclude = ["*.bsp"]
rust-version = "1.62.0"

[dependencies]
arrayvec = "0.7.2"
bitflags = "1.3"
bv = "0.11.1"
thiserror = "1.0.37"
lzma-rs = "0.2.0"
binrw = "0.10.0"
static_assertions = "1.1.0"
num_enum = "0.5.7"
vbsp-derive = { path = "derive", version = "0.1.0", features = ["__vbsp_as_self"] }
cgmath = "0.18.0"
zip = { package = "zip-lzma", version = "0.6.3", default-features = false, features = ["lzma"] }

[dev-dependencies]
obj = "0.10"
main_error = "0.1.2"

[features]
bench = []

[profile.dev]
opt-level = 2
